# **AIN 214 - PA1 - FALL 2024**

**Student Number** : 2220765041

**Name Surname**   : Sude Naz Öztürk


BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

**Deadline: 18.10.2023 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [90]:
# Import required libraries
import pandas as pd
import sqlite3

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* Use of naive for loops is not considered valid.

* For the db operations, use sqlite3 library in Python

# **PART- 1**

**Set of Questions on World Happiness Report Dataset (40 Pts)**

**Dataset Path: "Data/WorldHappinessReport.csv"**

# Q1. Basic Data Exploration **(10 Pts)**

1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 10th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [131]:
#1 Load the data into Pandas DataFrame and print the column names
dfHappiness = pd.read_csv("Data/WorldHappinessReport.csv")
columnNames = dfHappiness.columns.tolist()
print("column names: \n")
for column in columnNames:
    print(column)

column names:

Overall rank
Country or region
Score
GDP per capita
Social support
Healthy life expectancy
Freedom to make life choices
Generosity
Perceptions of corruption

In [92]:
#2 Display the first and last 10 rows of the dataset.
print("first 10 rows of the dataset:")
print(dfHappiness.head(10))
print("last 10 rows of the dataset:")
print(dfHappiness.tail(10))

first 10 rows of the dataset:
   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549
5             6       Netherlands  7.441           1.361           1.488
6             7            Canada  7.328           1.330           1.532
7             8       New Zealand  7.324           1.268           1.601
8             9            Sweden  7.314           1.355           1.501
9            10         Australia  7.272           1.340           1.573

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256
5                    0.878                         0.638       0.333
6                    0.896                         0.653       0.321
7                    0.876                         0.669       0.365
8                    0.913                         0.659       0.285
9                    0.910                         0.647       0.361

   Perceptions of corruption
0                      0.393
1                      0.340
2                      0.408
3                      0.138
4                      0.357
5                      0.295
6                      0.291
7                      0.389
8                      0.383
9                      0.302
last 10 rows of the dataset:
     Overall rank         Country or region  Score  GDP per capita  \
146           147                    Malawi  3.587           0.186
147           148                     Haiti  3.582           0.315
148           149                   Liberia  3.495           0.076
149           150                     Syria  3.462           0.689
150           151                    Rwanda  3.408           0.332
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
146           0.541                    0.306                         0.531
147           0.714                    0.289                         0.025
148           0.858                    0.267                         0.419
149           0.382                    0.539                         0.088
150           0.896                    0.400                         0.636
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
146       0.210                      0.080
147       0.392                      0.104
148       0.206                      0.030
149       0.376                      0.144
150       0.200                      0.444
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

In [93]:
#3 Display the random 10 rows
print(dfHappiness.sample(10))

     Overall rank       Country or region  Score  GDP per capita  \
71             72                Honduras  5.504           0.620
58             59                  Russia  5.810           1.151
86             87              Azerbaijan  5.201           1.024
66             67                 Moldova  5.640           0.657
92             93  Bosnia and Herzegovina  5.129           0.915
129           130                 Myanmar  4.308           0.682
101           102               Venezuela  4.806           0.996
83             84                 Algeria  5.295           0.979
105           106                    Iran  4.707           1.059
27             28                  Brazil  6.419           0.986

     Social support  Healthy life expectancy  Freedom to make life choices  \
71            1.205                    0.622                         0.459
58            1.479                    0.599                         0.399
86            1.161                    0.603                         0.430
66            1.301                    0.620                         0.232
92            1.078                    0.758                         0.280
129           1.174                    0.429                         0.580
101           1.469                    0.657                         0.133
83            1.154                    0.687                         0.077
105           0.771                    0.691                         0.459
27            1.474                    0.675                         0.493

     Generosity  Perceptions of corruption
71        0.197                      0.074
58        0.065                      0.025
86        0.031                      0.176
66        0.171                      0.000
92        0.216                      0.000
129       0.598                      0.178
101       0.056                      0.052
83        0.055                      0.135
105       0.282                      0.129
27        0.110                      0.088

In [94]:
#4 sample using seed
print(dfHappiness.sample(10,random_state=24))

     Overall rank     Country or region  Score  GDP per capita  \
48             49                Belize  5.956           0.807
57             58       Northern Cyprus  5.835           1.229
19             20  United Arab Emirates  6.774           2.096
126           127              Ethiopia  4.350           0.308
111           112               Albania  4.586           0.916
11             12               Austria  7.139           1.341
26             27                Panama  6.430           1.112
49             50             Lithuania  5.952           1.197
30             31               Uruguay  6.379           1.093
150           151                Rwanda  3.408           0.332

     Social support  Healthy life expectancy  Freedom to make life choices  \
48            1.101                    0.474                         0.593
57            1.211                    0.909                         0.495
19            0.776                    0.670                         0.284
126           0.950                    0.391                         0.452
111           0.817                    0.790                         0.419
11            1.504                    0.891                         0.617
26            1.438                    0.759                         0.597
49            1.527                    0.716                         0.350
30            1.459                    0.771                         0.625
150           0.896                    0.400                         0.636

     Generosity  Perceptions of corruption
48        0.183                      0.089
57        0.179                      0.154
19        0.186                        NaN
126       0.220                      0.146
111       0.149                      0.032
11        0.242                      0.224
26        0.125                      0.063
49        0.026                      0.006
30        0.130                      0.155
150       0.200                      0.444

In [95]:
#5 Display every 10th row
dfHappiness.query('index % 10 == 0')

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
40,41,Nicaragua,6.141,0.668,1.319,0.700,0.527,0.208,0.128
50,51,Slovenia,5.948,1.219,1.506,0.856,0.633,0.160,0.051
60,61,Cyprus,5.762,1.229,1.191,0.909,0.423,0.202,0.035
70,71,Philippines,5.524,0.775,1.312,0.513,0.643,0.120,0.105
80,81,Montenegro,5.347,1.017,1.279,0.729,0.259,0.111,0.081
90,91,Nigeria,5.155,0.689,1.172,0.048,0.462,0.201,0.032
100,101,Nepal,4.880,0.425,1.228,0.539,0.526,0.302,0.078
110,111,Tunisia,4.592,0.900,0.906,0.690,0.271,0.040,0.063
120,121,Burkina Faso,4.424,0.314,1.097,0.254,0.312,0.175,0.128
130,131,Chad,4.301,0.358,0.907,0.053,0.189,0.181,0.060
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112
150,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444

In [96]:
#6 Get the summary stats of the dataset regarding each column
print(dfHappiness.describe())

       Overall rank       Score  GDP per capita  Social support  \
count    156.000000  156.000000      156.000000      156.000000
mean      78.500000    5.375917        0.891449        1.213237
std       45.177428    1.119506        0.391921        0.302372
min        1.000000    2.905000        0.000000        0.000000
25%       39.750000    4.453750        0.616250        1.066750
50%       78.500000    5.378000        0.949500        1.255000
75%      117.250000    6.168500        1.197750        1.463000
max      156.000000    7.632000        2.096000        1.644000

       Healthy life expectancy  Freedom to make life choices  Generosity  \
count               156.000000                    156.000000  156.000000
mean                  0.597346                      0.454506    0.181006
std                   0.247579                      0.162424    0.098471
min                   0.000000                      0.000000    0.000000
25%                   0.422250                      0.356000    0.109500
50%                   0.644000                      0.487000    0.174000
75%                   0.777250                      0.578500    0.239000
max                   1.030000                      0.724000    0.598000

       Perceptions of corruption
count                 155.000000
mean                    0.112000
std                     0.096492
min                     0.000000
25%                     0.051000
50%                     0.082000
75%                     0.137000
max                     0.457000

In [97]:
#7 Identify and count the number of missing values in each column
print(dfHappiness.isnull().sum())

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

# Q2. Basic Data Statistics: **(10 Pts)**

1. Calculate the mean, median, and standard deviation of the happiness Score across all countries. **(1 Pts)**
2. Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score. **(1 Pts)**
3. Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score? **(2 Pts)**
4. Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. **(2 Pts)**
5. Are there any countries where Generosity is higher than Social Support? List them. **(2 Pts)**
6. What is the range (max-min) of GDP per Capita values in the dataset? **(2 Pts)**

In [98]:
#1  Calculate the mean, median, and standard deviation of the happiness Score across all countries.

mean = dfHappiness['Score'].mean()
median = dfHappiness['Score'].median()
std = dfHappiness['Score'].std()

print("mean= " + str(mean))
print("median= "+ str(median))
print("standart deviation= "+ str(std))

mean= 5.375916666666667
median= 5.378
standart deviation= 1.119505852731943

In [99]:
#2  Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score.

print("top 5 happiest countries: ")
print(dfHappiness.nlargest(5, 'Score')[['Country or region', 'Score']])
print()
print("bottom 5 least happy countries: ")
print(dfHappiness.nsmallest(5, 'Score')[['Country or region', 'Score']])

top 5 happiest countries:
  Country or region  Score
0           Finland  7.632
1            Norway  7.594
2           Denmark  7.555
3           Iceland  7.495
4       Switzerland  7.487

bottom 5 least happy countries:
            Country or region  Score
155                   Burundi  2.905
154  Central African Republic  3.083
153               South Sudan  3.254
152                  Tanzania  3.303
151                     Yemen  3.355

In [100]:
#3  Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score?

countryIndex = dfHappiness['Healthy life expectancy'].idxmax()
country = dfHappiness.loc[countryIndex]
print("country: "+ country['Country or region'])
print("happiness score: "+ str(country['Score']))

country: Hong Kong
happiness score: 5.43

In [101]:
#4  Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6.

scoreGreaterThan6= dfHappiness[dfHappiness['Score'] > 6]
averageCorruption = scoreGreaterThan6['Perceptions of corruption'].mean()
print("average corruption perception: "+str(averageCorruption))

average corruption perception: 0.1782888888888889

In [102]:
#5  Are there any countries where Generosity is higher than Social Support? List them.

higherGenorosity =  dfHappiness[dfHappiness['Generosity'] > dfHappiness['Social support']]
print(higherGenorosity[['Country or region', 'Generosity', 'Social support']])

            Country or region  Generosity  Social support
154  Central African Republic       0.218             0.0

In [103]:
#6  What is the range (max-min) of GDP per Capita values in the dataset?

maxGDP = dfHappiness['GDP per capita'].max()
minGDP = dfHappiness['GDP per capita'].min()

print("range: "+str(maxGDP-minGDP))

range: 2.096

# Q3. Data Filtering **(20 Pts)**

1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**
2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**
3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**
6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**

In [104]:
#1  How many countries have a Happiness Score greater than 7.5? List their names.

countriesAbove7_5 = dfHappiness[dfHappiness['Score'] > 7.5]
print("number of countries: " + str(len(countriesAbove7_5)))
countryList = countriesAbove7_5['Country or region'].tolist()
print("list of countries:")
for country in countryList:
    print(country)

number of countries: 3
list of countries:
Finland
Norway
Denmark

In [105]:
#2  List all countries where the Corruption Perception score is below 0.2.

CPSBelow02 = dfHappiness[dfHappiness['Perceptions of corruption'] < 0.2]
CPSBelow02Countries = CPSBelow02['Country or region'].tolist()
for country in CPSBelow02Countries:
    print(country)

Iceland
United Kingdom
Costa Rica
United States
Czech Republic
Malta
France
Mexico
Chile
Taiwan
Panama
Brazil
Argentina
Guatemala
Uruguay
Qatar
Saudi Arabia
Malaysia
Spain
Colombia
Trinidad & Tobago
Slovakia
El Salvador
Nicaragua
Poland
Bahrain
Kuwait
Thailand
Italy
Ecuador
Belize
Lithuania
Slovenia
Romania
Latvia
Japan
Mauritius
Jamaica
South Korea
Northern Cyprus
Russia
Kazakhstan
Cyprus
Bolivia
Estonia
Paraguay
Peru
Kosovo
Moldova
Turkmenistan
Hungary
Libya
Philippines
Honduras
Belarus
Turkey
Pakistan
Portugal
Serbia
Greece
Lebanon
Montenegro
Croatia
Dominican Republic
Algeria
Morocco
China
Azerbaijan
Tajikistan
Macedonia
Jordan
Nigeria
Kyrgyzstan
Bosnia and Herzegovina
Mongolia
Vietnam
Indonesia
Bhutan
Cameroon
Bulgaria
Nepal
Venezuela
Gabon
Palestinian Territories
South Africa
Iran
Ivory Coast
Ghana
Senegal
Laos
Tunisia
Albania
Sierra Leone
Congo (Brazzaville)
Bangladesh
Sri Lanka
Iraq
Mali
Namibia
Cambodia
Burkina Faso
Egypt
Mozambique
Kenya
Zambia
Mauritania
Ethiopia
Armenia
Myanmar
Chad
Congo (Kinshasa)
India
Niger
Uganda
Benin
Sudan
Ukraine
Togo
Guinea
Lesotho
Angola
Madagascar
Zimbabwe
Afghanistan
Botswana
Malawi
Haiti
Liberia
Syria
Yemen
Tanzania
South Sudan
Central African Republic
Burundi

In [136]:
#3  Filter and list the top 5 countries by Generosity. What is their average Happiness Score?

generosityTop5 = dfHappiness.nlargest(5, 'Generosity')
avrScore = generosityTop5['Score'].mean()
print(generosityTop5[['Country or region', 'Generosity']])
print("\n average happiness score: "+str(avrScore))

    Country or region  Generosity
129           Myanmar       0.598
95          Indonesia       0.484
147             Haiti       0.392
21              Malta       0.376
149             Syria       0.376

 average happiness score: 4.6144

In [107]:
#4  Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries

wantedCounties = dfHappiness[(dfHappiness['GDP per capita'] < 0.5) & (dfHappiness['Score'] > 4)]
wantedCountriesList = wantedCounties['Country or region'].tolist()
for country in wantedCountriesList:
    print(country)

Tajikistan
Somalia
Nepal
Senegal
Sierra Leone
Mali
Burkina Faso
Mozambique
Kenya
Ethiopia
Chad
Congo (Kinshasa)
Niger
Uganda
Benin

In [108]:
#5  Filter countries where Social Support is higher than Freedom to Make Life

higherSSthanFreedom =  dfHappiness[dfHappiness['Social support'] > dfHappiness['Freedom to make life choices']]
SSandFreedomList = higherSSthanFreedom['Country or region'].tolist()
for country in SSandFreedomList:
    print(country)

Finland
Norway
Denmark
Iceland
Switzerland
Netherlands
Canada
New Zealand
Sweden
Australia
United Kingdom
Austria
Costa Rica
Ireland
Germany
Belgium
Luxembourg
United States
Israel
United Arab Emirates
Czech Republic
Malta
France
Mexico
Chile
Taiwan
Panama
Brazil
Argentina
Guatemala
Uruguay
Qatar
Saudi Arabia
Singapore
Malaysia
Spain
Colombia
Trinidad & Tobago
Slovakia
El Salvador
Nicaragua
Poland
Bahrain
Uzbekistan
Kuwait
Thailand
Italy
Ecuador
Belize
Lithuania
Slovenia
Romania
Latvia
Japan
Mauritius
Jamaica
South Korea
Northern Cyprus
Russia
Kazakhstan
Cyprus
Bolivia
Estonia
Paraguay
Peru
Kosovo
Moldova
Turkmenistan
Hungary
Libya
Philippines
Honduras
Belarus
Turkey
Pakistan
Hong Kong
Portugal
Serbia
Greece
Lebanon
Montenegro
Croatia
Dominican Republic
Algeria
Morocco
China
Azerbaijan
Tajikistan
Macedonia
Jordan
Nigeria
Kyrgyzstan
Bosnia and Herzegovina
Mongolia
Vietnam
Indonesia
Bhutan
Somalia
Cameroon
Bulgaria
Nepal
Venezuela
Gabon
Palestinian Territories
South Africa
Iran
Ivory Coast
Ghana
Senegal
Laos
Tunisia
Albania
Sierra Leone
Congo (Brazzaville)
Bangladesh
Sri Lanka
Iraq
Mali
Namibia
Cambodia
Burkina Faso
Egypt
Mozambique
Kenya
Zambia
Mauritania
Ethiopia
Georgia
Armenia
Myanmar
Chad
Congo (Kinshasa)
India
Niger
Uganda
Sudan
Ukraine
Togo
Guinea
Lesotho
Angola
Madagascar
Zimbabwe
Afghanistan
Botswana
Malawi
Haiti
Liberia
Syria
Rwanda
Yemen
Tanzania
South Sudan
Burundi

In [109]:
#6  Find countries in the top 10% of Healthy Life Expectancy and list their names.

sorted = dfHappiness.sort_values(by='Healthy life expectancy', ascending=False)

totalLength = len(dfHappiness)

top10percent = int(totalLength * 0.10)

top10countries = sorted.head(top10percent)

top10List = top10countries['Country or region'].tolist()

for country in top10List:
    print(country)

Hong Kong
Singapore
Japan
Spain
South Korea
Italy
Switzerland
Iceland
Sweden
Australia
Northern Cyprus
Cyprus
France
Canada
Luxembourg

In [110]:
#7  Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries?

filteredCountries = dfHappiness[dfHappiness['Generosity'] < dfHappiness['Social support']]

avr = filteredCountries['Score'].mean()

filteredCountriesList = filteredCountries['Country or region'].tolist()
for country in filteredCountriesList:
    print(country)


print()
print("average happiness score: "+str(avr))

Finland
Norway
Denmark
Iceland
Switzerland
Netherlands
Canada
New Zealand
Sweden
Australia
United Kingdom
Austria
Costa Rica
Ireland
Germany
Belgium
Luxembourg
United States
Israel
United Arab Emirates
Czech Republic
Malta
France
Mexico
Chile
Taiwan
Panama
Brazil
Argentina
Guatemala
Uruguay
Qatar
Saudi Arabia
Singapore
Malaysia
Spain
Colombia
Trinidad & Tobago
Slovakia
El Salvador
Nicaragua
Poland
Bahrain
Uzbekistan
Kuwait
Thailand
Italy
Ecuador
Belize
Lithuania
Slovenia
Romania
Latvia
Japan
Mauritius
Jamaica
South Korea
Northern Cyprus
Russia
Kazakhstan
Cyprus
Bolivia
Estonia
Paraguay
Peru
Kosovo
Moldova
Turkmenistan
Hungary
Libya
Philippines
Honduras
Belarus
Turkey
Pakistan
Hong Kong
Portugal
Serbia
Greece
Lebanon
Montenegro
Croatia
Dominican Republic
Algeria
Morocco
China
Azerbaijan
Tajikistan
Macedonia
Jordan
Nigeria
Kyrgyzstan
Bosnia and Herzegovina
Mongolia
Vietnam
Indonesia
Bhutan
Somalia
Cameroon
Bulgaria
Nepal
Venezuela
Gabon
Palestinian Territories
South Africa
Iran
Ivory Coast
Ghana
Senegal
Laos
Tunisia
Albania
Sierra Leone
Congo (Brazzaville)
Bangladesh
Sri Lanka
Iraq
Mali
Namibia
Cambodia
Burkina Faso
Egypt
Mozambique
Kenya
Zambia
Mauritania
Ethiopia
Georgia
Armenia
Myanmar
Chad
Congo (Kinshasa)
India
Niger
Uganda
Benin
Sudan
Ukraine
Togo
Guinea
Lesotho
Angola
Madagascar
Zimbabwe
Afghanistan
Botswana
Malawi
Haiti
Liberia
Syria
Rwanda
Yemen
Tanzania
South Sudan
Burundi

average happiness score: 5.390709677419355

In [111]:
#8  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries?

medianHappinessScore = dfHappiness['Score'].median()

countriesBelowMedian = dfHappiness[dfHappiness['Score'] < medianHappinessScore]

numberOfCountries = len(countriesBelowMedian)

print("number of countries: "+str(numberOfCountries))

belowMedianMeans = countriesBelowMedian[['Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices','Generosity', 'Perceptions of corruption']].mean()

globalMeans = dfHappiness[['Score', 'GDP per capita', 'Social support','Healthy life expectancy', 'Freedom to make life choices','Generosity', 'Perceptions of corruption']].mean()


print("\nglobal means: ")
print(globalMeans)
print("\nmean values for countries below the median happiness score:")
print(belowMedianMeans)

print("\ncommon characteristics of these values: lower happiness score,lower GDP per capita, weaker social support, shorter healty life expectancy, less freedom, lower generosity, lower perceptions of corruption.")

number of countries: 78

global means:
Score                           5.375917
GDP per capita                  0.891449
Social support                  1.213237
Healthy life expectancy         0.597346
Freedom to make life choices    0.454506
Generosity                      0.181006
Perceptions of corruption       0.112000
dtype: float64

mean values for countries below the median happiness score:
Score                           4.449321
GDP per capita                  0.621256
Social support                  1.019423
Healthy life expectancy         0.432962
Freedom to make life choices    0.386885
Generosity                      0.176705
Perceptions of corruption       0.088295
dtype: float64

common characteristics of these values: lower happiness score,lower GDP per capita, weaker social support, shorter healty life expectancy, less freedom, lower generosity, lower perceptions of corruption.

In [112]:
#9  Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there?

medianFreedom = dfHappiness['Freedom to make life choices'].median()
medianLifeExpectancy = dfHappiness['Healthy life expectancy'].median()

wantedCountries = dfHappiness[(dfHappiness['Freedom to make life choices'] > medianFreedom) & (dfHappiness['Healthy life expectancy'] > medianLifeExpectancy)]

print("number of countries: "+str(len(wantedCountries)))

number of countries: 47

# **PART- 2**

**Set of Questions on the passenger_demographics.csv and passenger_survival.csv** **(25 Pts)**

**Dataset Path: "Data/passenger_demographics.csv" and "Data/passenger_survival.csv"**

# Q1. Data Merging and Consistency Checking


1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
4. Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning) **(4 Pts)**
5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**
6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
7. Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers. **(4 Pts)**

In [113]:
#1  Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset?

dfDemographics = pd.read_csv("Data/passenger_demographics.csv")
dfSurvival = pd.read_csv("Data/passenger_survival.csv")

dfMerged = pd.merge(dfDemographics, dfSurvival, on='PassengerId')

print("number of rows: "+str(len(dfMerged)))

number of rows: 891

In [114]:
#2  Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame.

#check for duplicated rows
duplicatedRows = dfMerged[dfMerged.duplicated()]

#check for number of duplicated rows and if there are duplicated rows, analyze these rows
if len(duplicatedRows) > 0:
    print(duplicatedRows.describe())
else:
    print("there are no duplicated rows in merged dataset.")

there are no duplicated rows in merged dataset.

In [115]:
#3  Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders.

#group by passenger class and gender to find the survival rate of each group
survivalRate = dfMerged.groupby(['Pclass', 'Sex'])['Survived'].mean().reset_index()

#print survival rates
print(survivalRate)

#ayrı ayrı da cinsiyete göre ve pclass'a göre tablo yap

   Pclass     Sex  Survived
0       1  female  0.968085
1       1    male  0.368852
2       2  female  0.921053
3       2    male  0.157407
4       3  female  0.500000
5       3    male  0.135447

In [137]:
#4  Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning)

#check for is there any missing values
print("number of missing values in 'Age' =  " + str(dfMerged['Age'].isnull().sum()))

#drop rows where age value is missing
newMergedDf = dfMerged.dropna(subset=['Age'])

#convert 'Age' to numeric values
newMergedDf.loc[:, 'Age'] = pd.to_numeric(newMergedDf['Age'], errors='coerce')

#drop rows where age is NaN
newMergedDf = newMergedDf.dropna(subset=['Age'])

#drop non-integer age values
#newMergedDf = newMergedDf[newMergedDf['Age'] % 1 == 0]

#to find age range look max and min values
print("min age: "+str(newMergedDf['Age'].min()))
print("max age: "+str(newMergedDf['Age'].max()))

#define age bins and labels according to age range
ageBins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
ageLabels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80']
newMergedDf['Age Group'] = pd.cut(newMergedDf['Age'], bins=ageBins, labels=ageLabels, right=False)

#find survival rate for each age group
ageGroupSurvival = ageGroupSurvival = newMergedDf.groupby('Age Group', observed=True)['Survived'].mean().reset_index()


#print that rate
print(ageGroupSurvival)

number of missing values in 'Age' =  177
min age: 0.42
max age: 80.0
  Age Group  Survived
0      0-10  0.612903
1     11-20  0.401961
2     21-30  0.350000
3     31-40  0.437126
4     41-50  0.382022
5     51-60  0.416667
6     61-70  0.315789
7     71-80  0.000000

In [138]:
#5  Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival.

#create a new column for family size and calculate this value using (SibSp + Parch) formula
dfMerged['Family Size'] = dfMerged['SibSp'] + dfMerged['Parch']

#print survival rates based on family size
print(dfMerged.groupby('Family Size')['Survived'].mean().reset_index())

#analyze the correlation
corrBetweenFSandSurvived = dfMerged['Family Size'].corr(dfMerged['Survived'])

print(f"correlation between family size and survival: {corrBetweenFSandSurvived}")
print("this correlation value is very small it show us there is low correlation between family size and survival.")

   Family Size  Survived
0            0  0.303538
1            1  0.552795
2            2  0.578431
3            3  0.724138
4            4  0.200000
5            5  0.136364
6            6  0.333333
7            7  0.000000
8           10  0.000000
correlation between family size and survival: 0.01663898928274525
this correlation value is very small it show us there is low correlation between family size and survival.

In [142]:
#6  Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate.

#group by embarkation point and calculate survival rates
embarkationSurvival = dfMerged.groupby('Embarked')['Survived'].mean().reset_index()

#find the number of passengers by embarkation point
embarkationCounts = dfMerged['Embarked'].value_counts().reset_index()
embarkationCounts.columns = ['Embarked', 'Total Count']

#merge the survival rates with the counts
embarkationSummary = pd.merge(embarkationSurvival, embarkationCounts, on='Embarked')

#calculate the survival rate per embarkation point
embarkationSummary['Survival Rate'] = embarkationSummary['Survived'] * embarkationSummary['Total Count']

#identify the embarkation point with the highest survival rate
highestSurvival = embarkationSummary.loc[embarkationSummary['Survived'].idxmax()]
mostCommon = embarkationSummary.loc[embarkationSummary['Total Count'].idxmax()]

# Print the embarkation summary and the highest survival rate
print(embarkationSummary)
print(f"\nembarkation point with highest survival rate: {highestSurvival['Embarked']} with a survival rate of {highestSurvival['Survived']:.2f}.")
print(f"most common embarkation point: {mostCommon['Embarked']} with {mostCommon['Total Count']} people.")

  Embarked  Survived  Total Count  Survival Rate
0        C  0.553571          168           93.0
1        Q  0.389610           77           30.0
2        S  0.336957          644          217.0

embarkation point with highest survival rate: C with a survival rate of 0.55.
most common embarkation point: S with 644 people.

In [119]:
#7  Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers.

#find correlation between fare and survived
correlation = dfMerged['Fare'].corr(dfMerged['Survived'])

print("correlation between fare and survival = " + str(correlation))
print("correlation value is small so it show us there is not huge correlation between fare and survival")

correlation between fare and survival = 0.2573065223849622
correlation value is small so it show us there is not huge correlation between fare and survival

# **PART- 3**

**Set of Questions on SQL - using sqlite3 library!**

**Dataset Path: "Data/supermarket_sales.csv"**


The Supermarket Sales Dataset is a comprehensive dataset designed to provide insights into the sales performance of a supermarket.

We want to store this data in a relational database, with the following table schemas:

# Tables

## 1. Branches Table

| Column   | Type  | Key      | Description                              |
|----------|-------|----------|------------------------------------------|
| BranchID | INTEGER  | PRIMARY  | Unique identifier for each branch        |
| Branch | TEXT  |            |    Name of the supermarket branch        |
| City     | TEXT  |          | City where the branch is located         |



## 2. Products Table

| Column      | Type  | Key      | Description                               |
|-------------|-------|----------|-------------------------------------------|
| ProductID | INTEGER  | PRIMARY  | Unique identifier for each product line   |
| ProductLine | TEXT  |          | Category of the product |



## 3. Orders Table

| Column        | Type  | Key      | Description                                    |
|---------------|-------|----------|------------------------------------------------|
| OrderID       | TEXT  | PRIMARY  | Unique identifier for each order               |
| BranchID      | INTEGER  |   FK       | Identifier for the branch of the order    |
| ProductID   | INTEGER  |      FK    | Identifier linking to Products table ordered                      |
| Quantity      | INTEGER |        | Number of units ordered                        |
| UnitPrice   | REAL  |          | Price per unit of the product             |Total         | REAL  |          | Total sales value for the order               |
| OrderDate     | TEXT  |          | Date when the order was placed                |
| PaymentMethod | TEXT  |          | Method used for payment                       |
| CustomerType  | TEXT  |          | Type of customer (e.g., Member, Normal)     |
| Gender        | TEXT  |          | Gender of the customer                        |

Summary of Table Structures

* Branches Table contains information about different supermarket branches.

* Products Table details the various products available for purchase.
* Orders Table records the transactions made, linking products and branches to specific purchases.

# **Questions** **(35 Pts)**

1. Read the csv file and create this DB **(10 Pts)**
2. Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
3. Find the total revenue generated for each branch by product line **(4 Pts)**
4. Find the total sales for each branch **(3 Pts)**
5. Determine the number of orders placed by each gender **(3 Pts)**
6. List the product lines sold in each branch and the number of orders **(4 Pts)**
7. Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**
8. Check for duplicated invoices **(3 Pts)**

In [120]:
#1  Read the csv file and create this DB

#read csv file
supermarketDf = pd.read_csv("Data/supermarket_sales.csv")

#connect to db if there is no db create new one
connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

#create branch table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Branches (
    BranchID INTEGER PRIMARY KEY AUTOINCREMENT,
    Branch TEXT,
    City TEXT
)
''')

#create product table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Products (
    ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
    ProductLine TEXT
)
''')

#create order table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    OrderID TEXT PRIMARY KEY,
    BranchID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    UnitPrice REAL,
    OrderDate TEXT,
    PaymentMethod TEXT,
    CustomerType TEXT,
    Gender TEXT,
    FOREIGN KEY (BranchID) REFERENCES Branches(BranchID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')

# use for loop to every row in dataset
for _, row in supermarketDf.iterrows():
    # insert branch data if it is already written ignore that
    cursor.execute("INSERT OR IGNORE INTO Branches (Branch, City) VALUES (?, ?)",
                   (row['Branch'], row['City']))
    # take written BranchID
    cursor.execute("SELECT BranchID FROM Branches WHERE Branch = ? AND City = ?",
                   (row['Branch'], row['City']))
    branch_id = cursor.fetchone()[0]

    # insert product data if it is already written ignore that
    cursor.execute("INSERT OR IGNORE INTO Products (ProductLine) VALUES (?)",
                   (row['Product line'],))
    # take written ProductID
    cursor.execute("SELECT ProductID FROM Products WHERE ProductLine = ?",
                   (row['Product line'],))
    product_id = cursor.fetchone()[0]

    # insert order data
    cursor.execute('''
        INSERT OR IGNORE INTO Orders (
            OrderID, BranchID, ProductID, Quantity, UnitPrice, OrderDate, PaymentMethod, CustomerType, Gender
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        row['Invoice ID'], branch_id, product_id, row['Quantity'], row['Unit price'],
        row['Date'], row['Payment'], row['Customer type'], row['Gender']
    ))

# commit changes
connection2.commit()

#close the connection
connection2.close()

In [121]:
#2  Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement.

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT Products.ProductLine, SUM(Orders.Quantity) AS TotalQuantitySold
FROM Orders
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Products.ProductLine
ORDER BY TotalQuantitySold DESC
LIMIT 3;
'''

cursor.execute(query)
results = cursor.fetchall()

print("top 3 product lines with the highest total quantity sold: ")
for row in results:
    print(f"product line: {row[0]}, "
          + str(row[1]))

connection2.close()

top 3 product lines with the highest total quantity sold:
product line: Electronic accessories, 971
product line: Food and beverages, 952
product line: Sports and travel, 920

In [122]:
#3  Find the total revenue generated for each branch by product line

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT Branches.Branch, Products.ProductLine, SUM(Orders.UnitPrice * orders.Quantity) AS TotalRevenue
FROM Orders
JOIN Branches ON Orders.BranchID = Branches.BranchID
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Branches.Branch, Products.ProductLine
ORDER BY Branches.Branch, TotalRevenue DESC;
'''

cursor.execute(query)
results = cursor.fetchall()

print("total revenue generated for each branch by product line:")
for row in results:
    print(f"branch: {row[0]}, product Line: {row[1]}, total revenue: {row[2]:.2f}")

connection2.close()

total revenue generated for each branch by product line:
branch: A, product Line: Home and lifestyle, total revenue: 21349.71
branch: A, product Line: Sports and travel, total revenue: 18450.19
branch: A, product Line: Electronic accessories, total revenue: 17444.87
branch: A, product Line: Food and beverages, total revenue: 16345.81
branch: A, product Line: Fashion accessories, total revenue: 15554.77
branch: A, product Line: Health and beauty, total revenue: 11997.86
branch: B, product Line: Sports and travel, total revenue: 19036.38
branch: B, product Line: Health and beauty, total revenue: 19029.20
branch: B, product Line: Home and lifestyle, total revenue: 16713.49
branch: B, product Line: Electronic accessories, total revenue: 16239.47
branch: B, product Line: Fashion accessories, total revenue: 15631.73
branch: B, product Line: Food and beverages, total revenue: 14490.37
branch: C, product Line: Food and beverages, total revenue: 22635.10
branch: C, product Line: Fashion accessories, total revenue: 20533.40
branch: C, product Line: Electronic accessories, total revenue: 18065.69
branch: C, product Line: Health and beauty, total revenue: 15824.12
branch: C, product Line: Sports and travel, total revenue: 15011.36
branch: C, product Line: Home and lifestyle, total revenue: 13233.86

In [123]:
#4  Find the total sales for each branch

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT Branch, SUM(Orders.Quantity) AS TotalSales
FROM Orders
JOIN Branches ON Orders.BranchID = Branches.BranchID
GROUP BY Branch;
'''

cursor.execute(query)
results = cursor.fetchall()

print("total sales for each branch:")
for row in results:
    print(f"branch: {row[0]}, total sales: {row[1]:.2f}")

connection2.close()

total sales for each branch:
branch: A, total sales: 1859.00
branch: B, total sales: 1820.00
branch: C, total sales: 1831.00

In [124]:
#5  Determine the number of orders placed by each gender

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT Gender, COUNT(OrderID) AS NumberOfOrders
FROM Orders
GROUP BY Gender;
'''

cursor.execute(query)
results = cursor.fetchall()

print("number of orders placed by each gender:")
for row in results:
    print(f"gender: {row[0]}, number of orders: {row[1]}")

connection2.close()

number of orders placed by each gender:
gender: Female, number of orders: 501
gender: Male, number of orders: 499

In [125]:
#6  List the product lines sold in each branch and the number of orders

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT b.Branch, p.ProductLine, COUNT(o.OrderID) AS NumberOfOrders
FROM Branches b
JOIN Orders o ON b.BranchID = o.BranchID
JOIN Products p ON o.ProductID = p.ProductID
GROUP BY b.Branch, p.ProductLine
ORDER BY b.Branch, p.ProductLine;
'''

cursor.execute(query)
results = cursor.fetchall()

print("product lines sold in each branch and the number of orders:")
for row in results:
    print(f"branch: {row[0]}, product line: {row[1]}, number of orders: {row[2]}")

connection2.close()

product lines sold in each branch and the number of orders:
branch: A, product line: Electronic accessories, number of orders: 60
branch: A, product line: Fashion accessories, number of orders: 51
branch: A, product line: Food and beverages, number of orders: 58
branch: A, product line: Health and beauty, number of orders: 47
branch: A, product line: Home and lifestyle, number of orders: 65
branch: A, product line: Sports and travel, number of orders: 59
branch: B, product line: Electronic accessories, number of orders: 55
branch: B, product line: Fashion accessories, number of orders: 62
branch: B, product line: Food and beverages, number of orders: 50
branch: B, product line: Health and beauty, number of orders: 53
branch: B, product line: Home and lifestyle, number of orders: 50
branch: B, product line: Sports and travel, number of orders: 62
branch: C, product line: Electronic accessories, number of orders: 55
branch: C, product line: Fashion accessories, number of orders: 65
branch: C, product line: Food and beverages, number of orders: 66
branch: C, product line: Health and beauty, number of orders: 52
branch: C, product line: Home and lifestyle, number of orders: 45
branch: C, product line: Sports and travel, number of orders: 45

In [144]:
#7  Find the highest quantity sold for a single order and the corresponding product line
connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT Products.ProductLine, MAX(Orders.Quantity) AS HighestQuantity
FROM Orders
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Products.ProductLine
ORDER BY HighestQuantity DESC
LIMIT 1;
'''

cursor.execute(query)
result = cursor.fetchone()

print("highest quantity sold for a single order and the corresponding product line:")
print(f"product Line: {result[0]}, highest Quantity Sold: {result[1]}")

connection2.close()
#bak buraya

highest quantity sold for a single order and the corresponding product line:
product Line: Sports and travel, highest Quantity Sold: 10

In [127]:
#8  Check for duplicated invoices

connection2 = sqlite3.connect('supermarketSales2.db')
cursor = connection2.cursor()

query = '''
SELECT OrderID, COUNT(*)
FROM Orders
GROUP BY OrderID
HAVING COUNT(*) > 1;
'''

cursor.execute(query)
duplicate_invoices = cursor.fetchall()

if duplicate_invoices:
    print("duplicated invoices:")
    for row in duplicate_invoices:
        print(f"Order ID: {row[0]}")
else:
    print("there is no duplicated invoices.")

#there is no duplicated invoices because we use primary key and also 'ignore or...'

connection2.close()

there is no duplicated invoices.

# SUBMIT FORMAT

* **<-zip>**
  - **studentID_name_surname_hw1.ipynb**

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.